* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

fieldset {
  display: flex;
  width: 300px;
  flex-direction: column;
  gap: 10px;
  margin: 30px auto;
}

body {
  font: 1em sans-serif;
  width: 500px;
  padding: 0;
  margin: 0 auto;
}

p {
  display: block;
}

input {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error_email,
.error_username,
.error_password {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error_email.active,
.error_username.active,
.error_password.active {
  padding: 0.3em;
  display: block;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;

  box-sizing: border-box;
  display: none;
}

.error.active {
  padding: 0.3em;
  display: block;
}

#list {
  width: 50vw;
  margin: 0;
}
